.delivery {
  .heading {
    text-align: left;

    h1 {
      font-family: "KeepCalm";
      font-size: 20px;
      color: rgb(58, 101, 128);
    }

    .line {
      width: auto;
      margin-right: 0px;
      height: 1.5px;
      background-color: rgb(58, 101, 128);
    }
  }

  .deliveryForm {
    color: rgb(58, 101, 128);
    text-align: left;
    position: relative;

    #resetButton {
      margin: 0;
      padding: 0;
      cursor: pointer;
      position: absolute;
      top: 20px;
      right: 20px;
      background-color: transparent;
      border: 0;

      i {
        color: rgb(58, 101, 128);
        font-size: 30px;
      }
    }

    label {
      display: inline-block;
      max-width: 100%;
      margin-bottom: 5px;
      font-weight: 700;
    }

    #formGroup {
      margin: 15px 5% 15px 0;
    }
    #formGroup.country {
      margin: 15px 0;
    }

    .row1,
    .row2,
    .row3,
    .row4 {
      width: 100%;
      div {
        width: 100%;
        display: inline-block;
      }
    }

    .row1,
    .row2,
    .row4 {
      div {
        width: 30%;
      }

      .country {
        margin: 15px 0;
      }
    }

    .row3 {
      .zipcode {
        width: 30%;
      }
      .housenumber {
        width: 15%;
      }
    }

    .message {
      width: 100%;
    }

    .actions {
      margin-top: 40px;
      display: flex;
      justify-content: space-between;

      button {
        line-height: 35px;
        cursor: pointer;
        border: none;
        background-color: rgb(92, 162, 82);
        text-transform: uppercase;
        color: white;
        font-family: "KeepCalm";
        font-size: 10px;
        font-weight: bold;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        height: 35px;
        padding: 0 30px;
      }

      button[disabled] {
        cursor: not-allowed;
        border: 1px solid #999999;
        background-color: #cccccc;
        color: #867f7f;
      }
    }

    input,
    textarea {
      color: rgb(58, 101, 128);
      font-size: 14px;
      font-family: "Graphik";
      -webkit-appearance: none;
      outline: none;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      background: none;
      border: none;
      display: block;
      box-sizing: border-box;
      width: 100%;
    }

    input[disabled] {
      background-color: #cccccc;
    }

    input {
      height: 50px;
      padding: 5px 20px;
    }

    textarea {
      min-height: 100px;
      padding: 20px;
      resize: none;
    }
  }
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(58, 101, 128, 0.6);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(58, 101, 128, 0.6);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba(58, 101, 128, 0.6);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: rgb(58, 101, 128);
  transition: background-color 5000s ease-in-out 0s;
}

@media only screen and (max-width: 900px) {
  .delivery {
    .deliveryForm {
      #resetButton {
        position: absolute;
        top: -25px;
      }
      #formGroup {
        margin: 35px 0;
      }
      .row1,
      .row2,
      .row3,
      .row4,
      input,
      textarea {
        width: 100%;
        div,
        .zipcode,
        .phonenumber,
        .housenumber {
          width: 100%;
          display: block;
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .delivery {
    .deliveryForm {
      .actions {
        display: flex;
        text-align: center;
        flex-direction: column-reverse;
        margin-bottom: 0;
        #back,
        #submit {
          margin: 0 auto;
          float: none;
        }

        #back {
          order: -1;
          margin-top: 20px;
        }

        #submit {
          order: 1;
        }
      }
    }
  }
}
