.container {
    min-height: calc(100vh - 300px);
    background-color: rgb(242, 242, 242);
    text-align: center;
    width: 100vw;

    .content-wrapper {
        background-color: rgb(242, 242, 242);
        display: inline-block;
        width: 90vw;
        max-width: 1080px;
        align-items: center;
        padding-top: 60px;
    }
}

router-outlet ~ * {
    position: absolute;
    height: 100%;
    width: 100%;
  }
