<div class="gridBoxes">
    <div class="left">
        <div class="box">
            <img src="assets/images/standard/Marjolein.png" alt="Foto van Marjolein">
            <h1>Marjolein</h1>
            <h2>
                over <i>het onstaan van 'Back to the Roots'</i>
            </h2>
            <p>
                Het tweede jaar van onze opleiding Commerciële Economie aan de Hogeschool in Leiden staat geheel in
                het teken van ondernemen. Met een groep van 4 studenten zijn we bij elkaar gezet om een onderneming te
                starten.
                <br><br>
                Onze groep bestaat uit een groep studenten die allemaal dezelfde passie hebben, namelijk: reizen. Het
                opstarten van een succesvolle onderneming begint, in mijn ogen, met het hebben van passie en plezier
                voor wat je als onderneming doet. We wisten dus allen al een ding al zeker: het moest iets met reizen
                worden. Maar niet alleen iets wat we zelf leuk vonden, we wilden ook iets neerzetten wat een verschil
                zou maken in deze wereld.
                <br><br>
                Toen kwam het idee van 'Back to the Roots'. Een boek waarin we de culturen die in Nederland
                vertegenwoordigt zijn het woord zouden geven. We nodigden mensen uit om te vertellen over hun cultuur,
                de gerechten die erbij horen en de muziek. Het boek bundelt al deze verhalen om jou als lezer een kijkje
                te geven in andermans 'keuken'. Met als grote doel: 'Culturen verbinden met passie'.
            </p>
        </div>
        <div class="box">
            <img src="assets/images/standard/Bart.png" alt="Foto van Bart">
            <h1>Bart</h1>
            <h2>
                over <i><strong>zijn visie op 'Back to the Roots'</strong></i>
            </h2>
            <p>
                Back to the Roots betekent voor mij iets heel speciaals.
                Al jarenlang zie ik als jong volwassene problemen in de maatschappij. Veel van deze problemen vinden hun
                oorsprong bij het gebrek aan kennis over en begrip voor andere culturen en etniciteiten. Door middel
                van Back to the Roots kunnen we deze kloof overbruggen mensen dichter bij elkaar brengen. Ik heb het
                idee dat we wat heel speciaals aan het doen zijn voor de mensen in ons land en daar geniet ik met volle
                teugen van!
            </p>
        </div>
    </div>
    <div class="right">
        <div class="box">
            <img src="assets/images/standard/Tessa.png" alt="Foto van Tessa">
            <h1>Tessa</h1>
            <h2>
                over <i><strong>de kookdag van 'Back to the Roots'</strong></i>
            </h2>
            <p>
                Om de verbinding tussen alle culturen ook daadwerkelijk tot stand te laten komen hebben we een kookdag
                georganiseerd. Op deze dag hebben we veel recepten uit dit boek met elkaar gemaakt om het te kunnen
                proeven. Ook hebben we alle culturen echt beter leren kennen door de interviews uit te voeren. Als kers
                op de taart zijn er deze dag prachtige foto’s gemaakt voor dit boek.
                <br><br>
                We hopen dat de gezelligheid en de verbinding tussen de verschillende culturen die we op de kookdag
                hebben mogen ervaren terug te zien zijn in het boek. Ik wil graag nog de Wijdezorg Nieuwkoop bedanken,
                aangezien zonder hen deze dag nooit plaats had kunnen vinden.
            </p>
        </div>
        <div class="box">
            <img src="assets/images/standard/Matthijs.png" alt="Foto van Matthijs">
            <h1>Matthijs</h1>
            <h2>
                over <i><strong>de toekomst van 'Back to the Roots'</strong></i>
            </h2>
            <p>
                Door Back to the Roots heb ik het gevoel dat ik mensen dichter bij elkaar kan brengen en dat is iets
                waar ik heel veel plezier uit haal. Naar mijn mening kunnen we veel leren van andere personen en andere
                culturen en ik hoop dit met Back to the Roots te kunnen bereiken.
                <br><br>
                Het doel van Back to the Roots is het delen van zo veel mogelijk ervaringen met andere mensen van andere
                culturen en ik denk dat we dit heel goed kunnen gaan bewerkstelligen. Mijn streven is om dit in de
                toekomst ook te realiseren zodat het later vanzelfsprekend is dat mensen andere culturen kennen en nieuwe
                culturen willen leren kennen. Back to the Roots is dus ook voor de toekomst.
            </p>
        </div>
    </div>
</div>