<div class="contactdetailscontainer">
    <div class="content">
        <div class="heading">
            <h1>Contactgegevens</h1>
            <div class="line"></div>
        </div>
        <div class="contactdetails">
            <p><strong>Bedankt voor je interesse in <br> Back to the Roots</strong></p>
            <p>
                Volg ons op Instagram en Facebook om op de hoogte te blijven van alle aankomende evenementen of
                informatie omtrent het boek. We vinden het erg leuk om tips te krijgen voor onze onderneming of
                eventuele samenwerkingen aan te gaan. In het opmerkingen veld hiernaast kun je een vraag of een
                opmerking achterlaten. We beloven zo snel mogelijk te antwoorden!
            </p>
            <div class="information">
                <div class="location">
                    <a href="https://goo.gl/maps/3B4qDTBZMaAqMoHy6" target="_blank">
                        <p>
                            <img src="assets/images/icons/Locatie.png" alt="Locatie icoon">
                            Leiden, Zuid-Holland
                        </p>
                    </a>
                </div>
                <div class="email">
                    <a href="mailto:info@backtotheroots2020.nl?SUBJECT=Contact Back to the Roots">
                        <p>
                            <img src="assets/images/icons/Mailwit.png" alt="E-mail icoon">
                            info@backtotheroots2020.nl
                        </p>
                    </a>
                </div>
                <div class="facebook">
                    <a href="https://www.facebook.com/Back-to-the-Roots-2020-108672063955380/" target="_blank">
                        <p>
                            <img src="assets/images/icons/FacebookFooter.png" alt="Facebook logo">
                            Facebook
                        </p>
                    </a>
                </div>
                <div class="instagram">
                    <a href="https://www.instagram.com/backtotheroots2020/" target="_blank">
                        <p>
                            <img src="assets/images/icons/InstagramFooter.png" alt="Instagam logo">
                            Instagram
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>