<div class="information">
    <div class="heading">
        <h1>Back to the Roots webshop</h1>
        <h2>Culturen verbinden met passie</h2>
    </div>
    <div class="text">
        <p>
            In Back to the Roots doen de verschillende culturen die in Nederland vertegen- woordigd zijn hun verhaal. Iedere
            cultuur heeft kenmerkende muziek, dans en gerechten. Door deze passie te combineren willen we de culturen
            verbinden. 
            <br><br>
            Dompel jezelf onder in de culturen en doe kennis op door de gerechten zelf te maken en de interviews te lezen.
            Doormiddel van QR-codes te scannen luister je gemakkeljk naar de bijbehorende muziek.
            <br><br>
            Het boek is verkrijgbaar in <strong>E-book</strong> en <strong>Paperback</strong> variant.
        </p>
    </div>

    <div class="items">
        
    </div>
</div>

