<div class="orders">
    <div class="heading">
        <h1>Bestellingen</h1>
    </div>
    <table class="ordersTable" *ngIf="orders">
        <tr class="tableheading">
            <th class="row1">
                ID
            </th>
            <th class="row2">
                Besteldatum
            </th>
            <th class="row3">
                Totaalbedrag
            </th>
            <th class="row4">
                Status
            </th>
        </tr>
        <tr class="order" *ngFor="let order of orders">
            <td class="row1">
                {{order.id}}
            </td>
            <td class="row2">
                {{order.orderDate | date:'dd-MM-yyyy'}}
            </td>
            <td class="row3">
                {{order.totalAmount + order.shippingCosts | currency:'EUR':'symbol':'':'nl'}}
            </td>
            <td class="row4">
                {{order.status}}
            </td>
        </tr>
    </table>
    <h2 *ngIf="!orders">
        Je hebt nog geen bestellingen
    </h2>
</div>