<div class="actions">
    <div *ngIf="paymentSucceeded" class="success">
        <h1>Je winkelwagen is leeg!</h1>
        <!-- Leeg winkelwagen plaatje of iets dergelijks -->
        <h2>Ga naar de webshop om iets toe te voegen</h2>
        <button type="button" id="webshop" (click)="navigate()">Webshop</button>
    </div>
    <div *ngIf="!paymentSucceeded" class="fail">
        <h1>Je winkelwagen is leeg!</h1>
        <!-- Leeg winkelwagen plaatje of iets dergelijks -->
        <h2>Ga naar de webshop om iets toe te voegen</h2>
        <button type="button" id="webshop" (click)="navigate()">Webshop</button>
    </div>
</div>