<div class="box">

    <div class="header">
        <h1>{{product.name}}</h1>
        <div class="inline">
            <div class="left">
                <h2 id="productPrice">€<span>{{euro}}</span>,{{cents}}</h2>
                <p><i>{{product.extraInfo1}}</i></p>
            </div>
            <div class="right">
                <button class="stock" type="button" disabled>
                    {{stockText}}
                </button>
            </div>
        </div>
    </div>

    <div class="benefits">
        <ul>
            <li *ngIf="product.benefit1"> 
                <img src="assets/images/icons/Check.png" alt="">
                {{product.benefit1}}
            </li>
            <li *ngIf="product.benefit2">
                <img src="assets/images/icons/Check.png" alt="">
                {{product.benefit2}}
            </li>
            <li *ngIf="product.benefit3">
                <img src="assets/images/icons/Check.png" alt="">
                {{product.benefit3}}
            </li>
        </ul>
    </div>

    <div class="itemButtonContainer">
        <button id="addToCart" *ngIf="product.stock > 0" (click)="addProductToShoppingCart()">In Winkelwagen</button>
        <button id="soldOut" *ngIf="product.stock <= 0">Uitverkocht</button>
    </div>
</div>