
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@import 'assets/fonts/fonts.scss';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$IPRWCEindopdracht-primary: mat-palette($mat-indigo);
$IPRWCEindopdracht-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$IPRWCEindopdracht-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$IPRWCEindopdracht-theme: mat-light-theme($IPRWCEindopdracht-primary, $IPRWCEindopdracht-accent, $IPRWCEindopdracht-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($IPRWCEindopdracht-theme);

/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%; 
}


body { 
    margin: 0; 
    font-family: "Graphik", "Helvetica Neue", "Arial", sans-serif; 
    overflow-x: hidden;
    overflow-y: scroll;
}
