<div class="infoBox">
    <div class="info">
        <div class="center">
            <div class="text">
                <h1>Back to the Roots</h1>
                <h2>Het boek dat culturen verbindt met passie</h2>
                <p>
                    In Back to the Roots doen de verschillende culturen die in Nederland vertegenwoordigd zijn hun
                    verhaal. Iedere cultuur heeft kenmerkende muziek, dans en gerechten. Door deze passie te combineren
                    willen we de culturen verbinden.
                    <br><br>
                    Dompel jezelf onder in de culturen en doe kennis op door de gerechten zelf te maken en de interviews
                    te lezen. Doormiddel van QR-codes te scannen luister je gemakkeljk naar de bijbehorende muziek.
                </p>
            </div>
            <div class="actions" (click)="buyEbook()">
                <div class="buy">
                    Koop nu het E-book!
                </div>
                <div class="price" *ngIf="productsLoaded | async">
                    {{product.price | currency:'EUR':'symbol':'':'nl'}}
                </div>
            </div>
            <div class="checks">
                <ul>
                    <li>
                        <img src="assets/images/icons/Check.png" alt="">
                        E-book is direct beschikbaar na aankoop
                    </li>
                    <li>
                        <img src="assets/images/icons/Check.png" alt="">
                        E-book lezen is voordelig
                    </li>
                    <li>
                        <img src="assets/images/icons/Check.png" alt="">
                        Veilig betalen
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="imageBox">
        <div class="center">
            <img src="assets/images/mockups/mockupHomepage.png" alt="Mockup van E-book Back to the Roots">
        </div>
    </div>
</div>

<app-ratings></app-ratings>